.PlayVideo_Container {
  position: relative;
  border-bottom: 2px solid rgb(223, 207, 207);
  margin-right: 20px;
  width: 80vw;
}
.PlayVideo_Video {
}

.PlayVideo_Info {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: bolder;
}
.PlayVideo_Data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 470px) {
  .PlayVideo_Container {
    position: absolute;
    border-bottom: 2px solid rgb(223, 207, 207);
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .PlayVideo_Data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}

.PlayVideo_Buttons button {
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 1.7rem;
  margin: 1em;
  margin-top: 0.2em;
  cursor: pointer;
  margin: 1rem;
}
