.Page_Wrapper {
  width: 80%;
  height: 100%;
  background-color: lightgray;
  border-radius: 20px;
  border: 5px solid grey;
  font-size: 2.5em;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.Page_Wrapper_Length {
  font-size: 5em;
  color: grey;
}
.pageTitle {
  margin-top: 110px;
  margin-left: 30px;
  font-size: 2rem;
}
.Video_Listing {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 35px;
}
@media (max-width: 470px) {
  .Video_Listing {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
}
.Video_Card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgb(249, 245, 245);
  border-radius: 10px;
  width: 300px;
  height: 320px;
  position: relative;
}
.Video_Info {
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  position: absolute;
  margin-left: 0.5em;
}
.Video_Info_Text {
  text-decoration: none;
}
.Video_Img {
  border-radius: 10px 10px 0 0;
  width: 300px;
}
.page_video_listing {
  display: flex;
  flex-flow: row wrap;
}
.Home {
  padding-top: 1px;
  padding-bottom: 50px;
}
.VideoPlayer {
  margin-top: 1px;
  padding-bottom: 100px;
  margin-bottom: -50px;
  margin-left: 60px;
  padding-top: 50px;
}
.Pages_Video_Listing {
  background-color: aqua;
}
