.Topbar {
  position: fixed;
  display: flex;
  border-bottom: lightgrey solid 3px;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 4;
  max-width: 100vw;
  width: 100%;
}
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}

.Topbar_logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
@media (max-width: 430px) {
  .Topbar_logo {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 0px;
  }
}

.searchbar {
  width: 30vw;
  height: 2em;
  border-radius: 10px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border: none;
  border: 2px solid lightgrey;
}
.Topbar_element {
  font-size: x-large;
  display: flex;
  gap: 2em;

  padding-right: 20px;
}
.Topbar_element button {
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
}
